.page_bg { width: 750px; height: 534px; background: url(http://i0.cy.com/kzgj_m/main/2019/0508/news_bg.jpg) no-repeat; overflow: hidden; }
.page_bg1 { width: 750px; height: auto; background: url(http://i0.cy.com/kzgj_m/main/2019/0508/news_bg1.jpg); }
.page_bg .return_index { margin: 400px auto 0; }
.return_index a { width: 196px; height: 43px; border: 1px solid #ad8b6f; text-align: center; line-height: 43px; color: #ad8b6f; font-size: 24px; display: block; margin: 0 auto; border-radius: 43px; }
.xbt_tab { width: 750px; height: 69px; background: url(http://i0.cy.com/kzgj_m/main/2019/0508/page_xbt.png) no-repeat center; background-position: 0 -85px; }
.xbt_tab ul { display: flex; display: -webkit-flex; justify-content: space-between; flex-direction: row; align-items: center; flex-wrap: wrap; }
.xbt_tab ul li { width: 174px; height: 61px; font-size: 30px; text-align: center; line-height: 61px; color: #5c5b5b; margin-top: 4px; }
.xbt_tab ul li a { color: #5c5b5b; }
.xbt_tab ul li.page_select { width: 181px; height: 65px; background: url(http://i0.cy.com/kzgj_m/main/2019/0508/page_xbt.png) no-repeat center; background-position: -3px -7px; }
.xbt_tab ul li.page_select a { color: #ffe6b3; }
.list_pageXw { padding: 0 38px 30px 38px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.list_pageXw ul li { display: flex; display: -webkit-flex; justify-content: space-between; flex-direction: row; align-items: center; flex-wrap: wrap; font-size: 22px; text-align: center; padding: 37px 0; border-bottom: 2px solid #775f5b; }
.list_pageXw ul li:last-child { border: 0; }
.list_pageXw ul li p { width: 70px; height: 35px; background: #6e3c3d; color: #ffffff; border-radius: 3px; text-align: center; line-height: 35px; }
.le_bjBox { margin-top: 2px }
.list_pageXw ul li em { color: #ffffff; display: block; margin: 3px auto 0; }
.fr_link a { width: 591px; color: #ffffff; display: block; text-align: left; vertical-align: middle; line-height: 33px; font-size: 25px }
.load_more {    /* padding: 0 39px 37px 39px; */ }
.load_more .return_index { display: flex; display: -webkit-flex; justify-content: space-between; flex-direction: row; align-items: center; flex-wrap: wrap; }
.load_more .return_index span { width: 193px; height: 2px; background: #272c30; display: block; }
.load_more .return_index a { display: block }

/* 新闻内容页 */
.article_body { width: 750px; height: auto; background: #161f26 url(http://i0.cy.com/kzgj_m/main/2019/0508/body_bgnr.jpg) no-repeat center top; }
.bookmark { height: 61px; background: rgba(0, 0, 0, .5); width: 100%; font-size: 24px; }
.bookmark a.return_btm { width: 176px; height: 65px; background: url(http://i0.cy.com/kzgj_m/main/2019/0508/page_xbt.png) no-repeat center; background-position: -3px -7px; color: #ffe6b3; display: inline-block; text-align: center; line-height: 65px; }
.bookmark a.return_btm i { vertical-align: top; margin-right: 8px; }
.bookmark span, .bookmark span a { color: #817062 }
.bookmark span { width: 470px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap }
.wz_bodyFont { text-align: center; padding: 57px 0; }
.list_title { width: 700px; margin: 0 auto; border-bottom: 2px solid #453941; padding-bottom: 51px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.list_title h1 { font-size: 32px; color: #ffffff; }
.list_title p { font-size: 24px; color: #9d9792; margin-top: 8px }
.wz_bodyFont .test_box { padding: 0 41px; font-size: 22px; line-height: 2; color: #878481; }
.wz_bodyFont .test_box p { font-size: 22px; padding-top: 20px; text-indent: 2em; line-height: 2; text-align: left; color: #878481; }
.wz_bodyFont .test_box p span { color: #b2967b; text-align: center; display: inline-block; width: 100% }
.wz_bodyFont .test_box  h3{ padding-top:20px; font-size:30px;color:#cc2525; }
.wz_bodyFont .test_box  h4{ padding-top:20px; font-size:30px;color:#cc2525; }
.wz_bodyFont .test_box  p{padding-top:20px;text-indent:2em;}
.wz_bodyFont .test_box  .center{ padding-top:20px; text-align:center; text-indent:0; }
.wz_bodyFont .test_box  a{color:#b28a4e;text-decoration:underline;}
.wz_bodyFont .test_box  .indent0{ text-indent:0;}
.wz_bodyFont .test_box  strong,.wz_bodyFont .test_box  .alight{color:#cc2525; }
.wz_bodyFont .test_box  table{ margin:15px auto 0 auto;}
.wz_bodyFont .test_box  th,.wz_bodyFont .test_box  td{ padding:5px 0; border:2px solid #b28a4e;text-align:center;}
.wz_bodyFont .test_box  th{background:#b28a4e; color:#ffffff; }
.wz_bodyFont .test_box  img{ display:block; max-width:98%; margin:20px auto 0 auto; border:2px solid #4a5255; }
.cms_content_video{padding-top:20px; width:100%; height:340px; }

.p-system { }
.one_iconLink { padding-left: 90px; }
.one_iconLink { position: absolute; top: 123px }
.one_iconLink a{ height: 88px; line-height: 88px; vertical-align: middle;background: url(http://i0.cy.com/kzgj_m/main/2019/0606/logo_dark.png) no-repeat; display: block;float: left;}
.one_iconLink .logo-falcom {
    width: 151px;
    background-position: 0 0;
}
.one_iconLink .logo-gj15 {
    width: 129px;
    background-position: -151px 0;
}
.one_iconLink .kzgj_logo {
    width: 192px;
    background-position: -280px 0;
}
.one_iconLink .logo-best {
    width: 89px;
    background-position: -472px 0;
}
